:root {
  /* Responsive Breakpoints */
  --breakpoint-mobile: 640px;
  --breakpoint-mobile-max: 639px;
  --breakpoint-tablet: 1024px;
  --breakpoint-tablet-max: 1023px;
  --breakpoint-desktop: 1280px;
}
